@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
    background: #F6CE71;
    color: #1a1a1a;
    font-family: sans-serif;
  }
}